<h1 style="color:red">Welcome to my Website</h1>

<img src="http://kingfahadmosque.org/wp-content/uploads/2012/03/website-welcome.jpg" alt="Mountain View" style="width:380px;height:180px;">

  <p style="color:blue"> 

<%= link_to 'Contact Us', static_pages_Contactus_path %>

<%= link_to 'Current Weather', static_pages_index_path %>