<h1>weather Report</h1>

<%= form_tag ('info') do%>
	<%= label_tag 'City' %>
	<%= text_field_tag 'city_name' %>
	<%= submit_tag 'Get Data'%>
<%end%>

<b><a href="https://weatherweb-sachinjadhav1.c9.io/static_pages/Contactus">ContactUs</a></b>

<b><a href="https://weatherweb-sachinjadhav1.c9.io/static_pages/Home">Home</a></b>